@model IEnumerable<DB.Order>

@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BasketAll</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewOrder.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewOrder.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
    </tr>
}

</table>
