@model int
@{
    ViewBag.Title = "Создание дизайна";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- Style sheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Constructor/css/main.css")">
    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
    <!-- jQuery UI - required -->
    <link href="@Url.Content("~/Content/Constructor/css/jquery-ui.css")" rel="stylesheet" />
    <!-- Custom iconic font - required -->
    <link href="@Url.Content("~/Content/Constructor/css/icon-font.css")" rel="stylesheet" />
    <!-- External plugins css - required -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Constructor/css/plugins.min.css")" />
    <!-- The CSS for the plugin itself - required -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Constructor/css/jquery.fancyProductDesigner.css")" />
    <!-- Optional - only when you would like to use custom fonts - optional -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Constructor/css/jquery.fancyProductDesigner-fonts.css")" />
    <!-- Include js files -->
    <!-- HTML5 canvas library - required -->
    <style> 
        .showImages{
            display:block !important;
        }
        .heighCon{
            display:none;
        }
        .btnNone{
            display:none;
        }
        .infoCon col-md-5 selectpicker {
            display:none;
        }
        .infoCon col-md-5 selectpickerShow{
            display:inline;
        }
        .inputSub{
            display:none;
        }
        .showInput{
            display:block;
        }
    </style>
<script src="@Url.Content("~/Content/Constructor/js/jquery.fancyProductDesigner.min.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

	    	var yourDesigner = $('#clothing-designer').fancyProductDesigner({
	    		editorMode: false,
	    		fonts: ['Arial', 'Fearless', 'Helvetica', 'Times New Roman', 'Verdana', 'Geneva', 'Gorditas'],
	    		customTextParameters: {
		    		colors: false,
		    		removable: true,
		    		resizable: true,
		    		draggable: true,
		    		rotatable: true,
		    		autoCenter: true,
		    		boundingBox: "Base"
		    	},
	    		customImageParameters: {
		    		draggable: true,
		    		removable: true,
		    		colors: '#000',
		    		autoCenter: true,
		    		boundingBox: "Base"
		    	}
	    	}).data('fancy-product-designer');

	    	//print button
	    	$('#print-button').click(function () {
				yourDesigner.print();
				return false;
			});

			//create an image
			$('#image-button').click(function(){
			    var image = yourDesigner.createImage();
				return false;
			});
			$('#sm').click(function () {
			    $('.inputSub').toggleClass('showInput');
			    $('#fls').attr("src", yourDesigner.getProductDataURL('jpeg', '#ffffff'));
			    $('#fileInp').attr("value", yourDesigner.getProductDataURL('jpeg', '#ffffff'));
			    $('#fls').toggleClass('showImages');
			    $('#clothing-designer').toggleClass('heighCon');
			    $('#print-button').toggleClass('heighCon');
			    $('#image-button').toggleClass('heighCon');
			    $('#pdf-button').toggleClass('heighCon');
			    $('.infoCon col-md-5 selectpicker').toggleClass('infoCon col-md-5 selectpickerShow');
			    if ($('#sm').text() == "←   Назад") {

			        $('#sm').text("Продолжить   →");
			    }
			    else {
			        $('#sm').text("←   Назад");
			    }
			});
			//create a pdf with jsPDF
			$('#pdf-button').click(function(){
				var image = new Image();
				image.src = yourDesigner.getProductDataURL('jpeg', '#ffffff');
				image.onload = function() {
					var doc = new jsPDF();
					doc.addImage(this.src, 'JPEG', 0, 0, this.width * 0.2, this.height * 0.2);
					doc.save('Product.pdf');
				}
				return false;
			});

			//checkout button with getProduct()
			$('#checkout-button').click(function(){
				var product = yourDesigner.getProduct();
				console.log(product);
				return false;
			});

			//event handler when the price is changing
			$('#clothing-designer')
			.bind('priceChange', function(evt, price, currentPrice) {
				$('#thsirt-price').text(currentPrice);
			});

			//recreate button
			$('#recreation-button').click(function(){
				var fabricJSON = JSON.stringify(yourDesigner.getFabricJSON());
				$('#recreation-form input:first').val(fabricJSON).parent().submit();
				return false;
			});

			//click handler for input upload
			$('#upload-button').click(function(){
				$('#design-upload').click();
				return false;
			});

			//save image on webserver
			$('#save-image-php').click(function() {
				$.post( "php/save_image.php", { base64_image: yourDesigner.getProductDataURL()} );
			});

			//send image via mail
			$('#send-image-mail-php').click(function() {
				$.post( "php/send_image_via_mail.php", { base64_image: yourDesigner.getProductDataURL()} );
			});

			//upload image
			document.getElementById('design-upload').onchange = function (e) {
				if(window.FileReader) {
					var reader = new FileReader();
			    	reader.readAsDataURL(e.target.files[0]);
			    	reader.onload = function (e) {

			    		var image = new Image;
			    		image.src = e.target.result;
			    		image.onload = function() {
				    		var maxH = 400,
			    				maxW = 300,
			    				imageH = this.height,
			    				imageW = this.width,
			    				scaling = 1;

							if(imageW > imageH) {
								if(imageW > maxW) { scaling = maxW / imageW; }
							}
							else {
								if(imageH > maxH) { scaling = maxH / imageH; }
							}

				    		yourDesigner.addElement('image', e.target.result, 'my custom design', {colors: $('#colorizable').is(':checked') ? '#000000' : false, zChangeable: true, removable: true, draggable: true, resizable: true, rotatable: true, autoCenter: true, boundingBox: "Base", scale: scaling});
			    		};
					};
				}
				else {
					alert('FileReader API is not supported in your browser, please use Firefox, Safari, Chrome or IE10!')
				}
			};
	    });
    </script>
    <style>
        #clothing-designer{
            width: 100% !important;
        }
    </style>
    <div id="main-container" class="container">
    <div id="clothing-designer" class="fpd-shadow-1" style="">
        @switch (Model.ToString())
        {
            case "6":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/yellow_shirt/front/preview.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/yellow_shirt/front/base.png")" title="Base" data-parameters='{"x": 325, "y": 329, "colors": "#d59211", "price": 20}' />
                    <img src="@Url.Content("~/Content/Constructor/images/yellow_shirt/front/shadows.png")" title="Shadow" data-parameters='{"x": 325, "y": 329}' />
                    <img src="@Url.Content("~/Content/Constructor/images/yellow_shirt/front/body.png")" title="Hightlights" data-parameters='{"x": 322, "y": 137}' />
                    <span title="Any Text" data-parameters='{"boundingBox": "Base", "x": 326, "y": 232, "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#000000"}'>Default Text</span>
                    <div class="fpd-product" title="Shirt Back" data-thumbnail="@Url.Content("~/Content/Constructor/images/yellow_shirt/back/preview.png")">
                        <img src="@Url.Content("~/Content/Constructor/images/yellow_shirt/back/base.png")" title="Base" data-parameters='{"x": 317, "y": 329, "colors": "Base", "price": 20}' />
                        <img src="@Url.Content("~/Content/Constructor/images/yellow_shirt/back/body.png")" title="Hightlights" data-parameters='{"x": 333, "y": 119}' />
                        <img src="@Url.Content("~/Content/Constructor/images/yellow_shirt/back/shadows.png")" title="Shadow" data-parameters='{"x": 318, "y": 329}' />
                    </div>
                </div>
                break;
            case "7":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/highlights.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/highlights.png")" title="Base" data-parameters='{"x": 440, "y": 300, "colors": "#fff", "price": 20}' />
                </div>
                break;
            case "8":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/тарелка.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/тарелка.png")" title="Base" data-parameters='{"zChangeable": true, "x": 315, "y": 300, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                    <img src="@Url.Content("~/Content/Constructor/images/picture/тарелка-края.png")" title="Shadow" data-parameters='{ "x": 315, "y": 300}' />
                    <img src="@Url.Content("~/Content/Constructor/images/picture/тарелка-внутри.png")" title="Hightlights" data-parameters='{"zChangeable": true, "x": 315, "y": 300, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                </div>
                break;
            case "9":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/прям.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/прям.png")" title="Base" data-parameters='{"x": 340, "y": 235, "colors": "#000", "price": 20}' />
                </div>
                break;
            case "10":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/фартух.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/фартух.png")" title="Base" data-parameters='{"zChangeable": true, "x": 315, "y": 300, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                </div>
                break;
            case "11":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/флаг.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/флаг.png")" title="Base" data-parameters='{"zChangeable": true, "x": 515, "y": 300, "colors": "#000000", "removable": true, "price": 10, "boundingBox": "Base"}' />
                </div>
                break;
            case "12":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/подушка.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/подушка.png")" title="Base" data-parameters='{"zChangeable": true, "x": 515, "y": 300, "colors": "#000000", "removable": true, "price": 10, "boundingBox": "Base"}' />
                </div>
                break;
            case "13":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/вымпел.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/вымпел.png")" title="Base" data-parameters='{"x": 540, "y": 240, "colors": "#000000", "removable": true, "draggable": true,"price": 10}' />
                    <img src="@Url.Content("~/Content/Constructor/images/picture/вымпел-внутри.png")" title="Base" data-parameters='{"x": 540, "y": 240, "colors": "#000000", "removable": true, "draggable": true,"price": 10}' />
                </div>
                break;
            case "14":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/часы.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/часы.png")" title="Base" data-parameters='{"x": 440, "y": 300, "colors": "#fff", "price": 20}' />
                </div>
                break;
            case "15":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/iphone.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/iphone.png")" title="Base" data-parameters='{"x": 540, "y": 540, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                </div>
                break;
            case "16":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/сумка.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/сумка.png")" title="Base" data-parameters='{"zChangeable": true, "x": 515, "y": 300, "colors": "#000000", "removable": true, "price": 10, "boundingBox": "Base"}' />
                    <img src="@Url.Content("~/Content/Constructor/images/picture/сумка-внутри.png")" title="Base" data-parameters='{"zChangeable": true, "x": 515, "y": 350, "colors": "#000000", "removable": true, "price": 10, "boundingBox": "Base"}' />
                </div>
                break;
            case "17":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/брелок.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/брелок.png")" title="Base" data-parameters='{"zChangeable": true, "x": 515, "y": 300, "colors": "#000000", "removable": true, "price": 10, "boundingBox": "Base"}' />
                </div>
                break;
            case "18":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/магнит.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/магнит.png")" title="Base" data-parameters='{"x": 500, "y": 250, "colors": "#000","price": 10}' />
                </div>
                break;
            case "19":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/пазлы-2.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/пазлы-2.png")" title="Base" data-parameters='{"x": 500, "y": 350, "colors": "#000","price": 10}' />
                </div>
                break;
            case "21":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/прям.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/прям.png")" title="Base" data-parameters='{"x": 340, "y": 235, "colors": "#000", "price": 20}' />
                </div>
                break;
            case "22":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/коврик для мыши.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/коврик для мыши.png")" title="Base" data-parameters='{"x": 340, "y": 235, "colors": "#fff", "price": 20}' />
                </div>
                break;
            case "23":
                <div class="fpd-product" title="Shirt Front" data-thumbnail="@Url.Content("~/Content/Constructor/images/picture/холст.png")">
                    <img src="@Url.Content("~/Content/Constructor/images/picture/холст.png")" title="Base" data-parameters='{"x": 340, "y": 235, "colors": "#fff", "price": 20}' />
                </div>
                break;

        }


                    <!--div class="fpd-product" title="Scoop Tee" data-thumbnail="@Url.Content("~/Content/Constructor/images/scoop_tee/preview.png")">
                        <img src="@Url.Content("~/Content/Constructor/images/scoop_tee/basic.png")" title="Base" data-parameters='{"x": 314, "y": 323, "colors": "#98937f, #000000, #ffffff", "price": 15}' />
                        <img src="@Url.Content("~/Content/Constructor/images/scoop_tee/highlights.png")" title="Hightlights" data-parameters='{"x":308, "y": 316}' />
                        <img src="@Url.Content("~/Content/Constructor/images/scoop_tee/shadows.png")" title="Shadow" data-parameters='{"x": 308, "y": 316}' />
                        <img src="@Url.Content("~/Content/Constructor/images/scoop_tee/label.png")" title="Label" data-parameters='{"x": 314, "y": 140}' />
                    </!--div>

                    <div class="fpd-product" title="Short" data-thumbnail="@Url.Content("~/Content/Constructor/images/shorts/preview.png")">
                        <img src="@Url.Content("~/Content/Constructor/images/shorts/basic.png")" title="Base" data-parameters='{"x": 317, "y": 332, "colors": "#81b5eb", "price": 15}' />
                        <img src="@Url.Content("~/Content/Constructor/images/shorts/highlights.png")" title="Hightlights" data-parameters='{"x": 318, "y": 331}' />
                        <img src="@Url.Content("~/Content/Constructor/images/shorts/pullstrings.png")" title="Pullstrings" data-parameters='{"x": 307, "y": 195, "colors": "#ffffff"}' />
                        <img src="@Url.Content("~/Content/Constructor/images/shorts/midtones.png")" title="Midtones" data-parameters='{"x": 317, "y": 332}' />
                        <img src="@Url.Content("~/Content/Constructor/images/shorts/shadows.png")" title="Shadow" data-parameters='{"x": 320, "y": 331}' />
                    </div>
                    <div class="fpd-product" title="Basecap" data-thumbnail="@Url.Content("~/Content/Constructor/images/cap/preview.png")">
                        <img src="@Url.Content("~/Content/Constructor/images/cap/basic.png")" title="Base" data-parameters='{"x": 318, "y": 311, "colors": "#ededed", "price": 5}' />
                        <img src="@Url.Content("~/Content/Constructor/images/cap/highlights.png")" title="Hightlights" data-parameters='{"x": 309, "y": 300}' />
                        <img src="@Url.Content("~/Content/Constructor/images/cap/shadows.png")" title="Shadows" data-parameters='{"x": 306, "y": 299}' />
                    </div-->
                    <div class="fpd-design">
                        <div class="fpd-category" title="Swirls">
                            <img src="@Url.Content("~/Content/Constructor/images/designs/swirl.png")" title="Swirl" data-parameters='{"zChangeable": true, "x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/swirl2.png")" title="Swirl 2" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/swirl3.png")" title="Swirl 3" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/heart_blur.png")" title="Heart Blur" data-parameters='{"x": 215, "y": 200, "colors": "#bf0200", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/converse.png")" title="Converse" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/crown.png")" title="Crown" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/men_women.png")" title="Men hits Women" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
                        </div>
                        <div class="fpd-category" title="Retro">
                            <img src="@Url.Content("~/Content/Constructor/images/designs/retro_1.png")" title="Retro One" data-parameters='{"x": 210, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 7, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/retro_2.png")" title="Retro Two" data-parameters='{"x": 193, "y": 180, "colors": "#ffffff", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.46, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/retro_3.png")" title="Retro Three" data-parameters='{"x": 240, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 8, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/heart_circle.png")" title="Heart Circle" data-parameters='{"x": 240, "y": 200, "colors": "#007D41", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.4, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/swirl.png")" title="Swirl" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/swirl2.png")" title="Swirl 2" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
                            <img src="@Url.Content("~/Content/Constructor/images/designs/swirl3.png")" title="Swirl 3" data-parameters='{"x": 215, "y": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
                        </div>
                    </div>
                </div>
    <br />
    <div class="row">
        <div class="api-buttons col-md-7">
            <a href="#" id="print-button" class="btn btn-primary">Печать</a>
            <a href="#" id="image-button" class="btn btn-primary">Создать картинку</a>
            <a href="#" id="pdf-button" class="btn btn-primary">Создать PDF</a>
        </div>

        <div class="col-md-3">
            <span class="price badge badge-inverse"><span id="thsirt-price"></span> бел.руб.</span>
        </div>
        <div class="col-md-2">
           <a href="#" id="sm" class="btn btn-primary" style="font-size: 20px;font-weight: bold;">Продолжить   &#8594;</a>
        </div>
        <div class="col-md-12">
            
@using (Html.BeginForm("infoProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

            <img src="#" id="fls" alt="Alternate Text" style="display:none;" class="col-md-12" />
            <input type="file" style="visibility:hidden;" id="fileInp" name="uploadImage">
            switch (Model.ToString())
            {
                case "6":
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        @for (int i = 38; i < 54; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        <option>Мужская</option>
                        <option>Женская</option>
                    </select>
                    break;
                case "7":
                <!---->
                    break;
                case "8":
                    <p class="infoCon col-md-5 selectpicker" data-live-search="true">Диаметр 21</p>
                    break;
                case "9":
                <!---->
                    break;
                case "10":
                <!---->
                    break;
                case "11":
                    <p class="infoCon col-md-5 selectpicker" data-live-search="true">12x18</p>
                    break;
                case "12":
                    <p class="infoCon col-md-5 selectpicker" data-live-search="true">35x35</p>
                    break;
                case "13":
                <!--вопрос-->
                    break;
                case "14":<!--диаметр-->
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        <option>18</option>
                        <option>30</option>
                    </select>
                    break;
                case "15":
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        <option>IPhone 5</option>
                        <option>IPhone 5s</option>
                        <option>IPhone 6</option>
                        <option>IPhone 6s</option>
                    </select>
                    break;
                case "16":
                    <p class="infoCon col-md-5 selectpicker" data-live-search="true">315x260</p>
                    break;
                case "17":
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        <option>Металлический</option>
                        <option>Акриловый</option>
                    </select>
                    <select style="display:none;">
                        <option>Круглые</option>
                        <option>Овальные</option>
                        <option>Квадратные</option>
                    </select>
                    <select style="display:none;">
                        <option>Квадрат 39x39</option>
                        <option>Прямоугольник 39x48</option>
                    </select>
                    break;
                case "18":
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        <option>65x65</option>
                        <option>57x77</option>
                        <option>85x63</option>
                        <option>Овал</option>
                        <option>Круг-4.1 диаметр</option>
                    </select>
                    break;
                case "19":
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        <option>A - 4(12 элементов,20х25)</option>
                        <option>А - 3(252 элементов,26х35)</option>
                        <option>А - 4(120 элементов,20х29)</option>
                        <option>А - 5(63 элемента,13х18)</option>
                    </select>
                    break;
                case "21":
                <!---->
                    break;
                case "22":
                    <p class="infoCon col-md-5 selectpicker" data-live-search="true">18х22</p>
                    break;
                case "23":
                    <select class="infoCon col-md-5 selectpicker" data-live-search="true">
                        @for (int i = 20; i <= 100; i++)
                        {
                            for (int j = 20; j <= 200; j++)
                            {
                                <option>@i x @j</option>
                            }
                        }
                    </select>
                    break;

            }
    <input type="submit" value="Заказать" class="inputSub btn btn-warning col-md-2 col-md-offset-4"/>
}
        </div>

    </div>
        
</div>


