@model List<DB.Product>

@{
    ViewBag.Title = Model[0].Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .img-product{
        width: 50%;
    }
    .block-img{
        float:left;
        width: 50%;
    }
    .block-txt{
        float:right;
        width: 50%;
    }
    h1{
        color:red;
    }
    .text-target{
        float: left;
        color: red !important;
        border-color: red !important;
            height: 45px;
                border-radius: 5px;
                padding-left: 15px;
    }
    .submit-forms{
        margin-left: 25px;
    background: red;
    height: 40px;
    border:none;
    color:#fff;
    }
    .click{
        float: left;
        margin-right: 10px;
        width:100px;
    }
    .clickred{
        border:1px solid red;
    }
    .click img{

    }

    .image-details{
        width: 510px;
        margin: 0 auto 20px auto;
    }

    .img-product{
        width: auto;
        height: 400px;
    }

</style>

<div class="sections section-2" id="fotopech">
    <div class="container">
        <div class="row">
            <div class="block-img">
            <div class="image-details"><img class="img-product" src="@Url.Content(Model[0].Picture)" alt="@Model[0].Name" /></div>
                
                <div class="col-md-12">
                    @foreach (var item in ViewBag.Slider)
                    {
                    <div class="click">
                        <a href="#"><img src="@Url.Content(item.Image)" alt="Alternate Text" /></a>
                    </div>
                    }
                </div>
            </div>
            <div class="block-txt">

                <h1>@Model[0].Name</h1>
                <p>@Model[0].Information</p>
                <p>@Model[0].Price  бел.руб.</p>
                <div>

                    <form action="@Url.Content("~/Home/Basket/"+ Model[0].Id)" method="post">
                        <input class="text-target" type="number" min="1" name="col" value="1" style="float: left;"/>
                        <input class="submit-forms" type="submit"  value="Добавить в корзину" style="margin-left: 25px;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.click a img').click(function () {
        $('.img-product').attr('src', $(this).attr('src'));
        //$('.click').toggleClass('clickred');
    });


    $(document).ready(function () {
        var count = $('.click img').length;
        var minHeight = 10000;
        for (var i = 0; i < count; i++) {
            var height = $($('.click img')[i]).height();
            if (minHeight > height)
                minHeight = height;
        }

        $(".click img").height(minHeight);



        var count = $('.item2').length;
        var maxHeight = 0;
        for (var i = 0; i < count; i++) {
            var height = $($('.item2')[i]).height();
            if (maxHeight < height)
                maxHeight = height;
        }

        $(".item2").height(maxHeight);
    });
</script>