<!DOCTYPE HTML>
<html>
<head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="@Url.Content("~/Content/Admin/js/ie/html5shiv.js")"></script><![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/main.css")" />
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/ie8.css")" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/ie9.css")" /><![endif]-->
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
   
</head>
<body>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="@Url.Content("~/Content/Admin/images/avatar.jpg")" alt="" /></span>
                <h1 id="title">Admin</h1>
                <p>Администратор</p>
            </div>

            <!-- Nav -->
            <nav id="nav">

                <ul>
                    <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Главная</span></a></li>
                    <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Заказы</span></a></li>
                    <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Пользователи</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Новости</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-trash">Товары</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-flag">Реклама</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->


        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>



        <!-- Footer -->
        <div id="footer">

            <!-- Copyright -->
            <ul class="copyright">
                <li>&copy; </li>
                <li>Copyright 2017 MEGA Создание сайтов <a href="https://itionika.by">ITionika</a></li>
            </ul>

        </div>

        <!-- Scripts -->

        <script src="@Url.Content("~/Content/Admin/js/jquery.scrolly.min.js")"></script>
        <script src="@Url.Content("~/Content/Admin/js/jquery.scrollzer.min.js")"></script>
        <script src="@Url.Content("~/Content/Admin/js/skel.min.js")"></script>
        <script src="@Url.Content("~/Content/Admin/js/util.js")"></script>
        <!--[if lte IE 8]><script src="@Url.Content("~/Content/Admin/js/ie/respond.min.js")"></script><![endif]-->
        <script src="@Url.Content("~/Content/Admin/js/main.js")"></script>
</body>
</html>